syntax: glob
*~
coverage
npm-debug.log
.happypack/
bower_components/
node_modules/
.tmp/
.dist/
wirejs/dist/
*.sublime-project
*.sublime-workspace
karma-result
coverage/
.DS_Store
profile/src/index.html
push/src/index.html
.idea
.nyc_output
.vscode
tsconfig.json